.message-input__input {
  display: flex;
  align-items: center;
  border: 2px solid #00000029;
  border-radius: 8px;
  flex-grow: 1;
  margin: "0 10px";
}

.message-input__button {
  border: 1px solid transparent;
  outline: 0;
  background: none;
  font: inherit;
  border-radius: 4px;
  margin: 0px;
  padding: 8px;
  cursor: pointer;
}
